.button {
  border: none;
  background-color: var(--white);
  border: var(--gray) 1px solid;
  box-shadow: var(--boxShadow);
  color: var(--lightBlue);
  padding: 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.input {
  display: none;
}
