.container {
  margin-bottom: 1rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContainer {
  display: flex;
  gap: 1rem;
}

.actionBodyTemplaContainer {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}
