* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sidebarWidth: 6rem;
  --navbarHeigth: 4rem;
  --white: #fff;
  --black: #161310;
  --gray: #e9ecef;
  --darkGray: #a4a7aa;
  --lightBlue: #2e6cb5;
  --darkBlue: #1d174b;
  --darkBlueSelected: #4e487c;
  --orange: #f98125;
  --darkOrange: #c36e12;
  --boxShadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-family);
  margin-left: var(--sidebarWidth);
}

main {
  margin: 2rem;
}

.pageTitle {
  margin-bottom: 2rem;
}

.pi {
  font-size: 1.5rem !important;
}

.navBarIcon {
  color: var(--white);
  margin-right: 1rem;
  cursor: pointer;
}

.navBarIcon:hover {
  color: var(--black);
}
