* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
}

.pi {
  font-size: 1.5rem !important;
}

.navBarIcon {
  color: #fff;
  margin-right: 1rem;
  cursor: pointer;
}

.navBarIcon:hover {
  color: #161310;
}
