.container {
  width: calc(100vw - var(--sidebarWidth));
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--navbarHeigth);
  background-color: var(--lightBlue);
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100vw;
  }
}
