.virtualScroller {
  height: 7rem;
  width: 20rem;
}

.notificationCardItem {
  border-top: var(--gray) 1px solid;
  padding: 0.5rem 0;
  margin: 0 auto;
  cursor: pointer;
}

.notificationCardItem,
.notificationListContainer h3 {
  padding-left: 1rem;
}

.notificationCardItem:hover {
  background-color: var(--gray);
}

.notificationBarContainer {
  position: absolute;
}

.notificationListContainer {
  width: fit-content;
  box-shadow: var(--boxShadow);
  position: relative;
  top: 1.5rem;
  right: 19rem;
  background-color: var(--white);
}

@media only screen and (max-width: 480px) {
  .notificationBarContainer {
    max-width: 0;
  }
}
