.virtualScroller {
  height: 7rem;
  width: 20rem;
}

.notificationCardItem {
  border-top: #eee 1px solid;
  padding: 0.5rem 0;
  margin: 0 auto;
  cursor: pointer;
}

.notificationCardItem,
.notificationListContainer h3 {
  padding-left: 1rem;
}

.notificationCardItem:hover {
  background-color: #e9ecef;
}

.notificationBarContainer {
  position: absolute;
}

.notificationListContainer {
  width: fit-content;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  top: 1.5rem;
  right: 19rem;
}

@media only screen and (max-width: 480px) {
  .notificationBarContainer {
    max-width: 0;
  }
}
