.container {
  width: 50%;
}

.inputContainer {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inputContainer > * {
  flex-basis: 40%;
  margin: 1rem 0;
}
