.inputText {
  width: 20rem;
  font-size: small;
}

.searchBarIconUnfocused {
  position: static !important;
  color: var(--white) !important;
}

.searchBarIconUnfocused:hover {
  color: var(--black) !important;
}

.searchBarIconFocused {
  cursor: text;
  top: 45% !important;
  color: var(--gray) !important;
}

.searchBarIconFocused:hover {
  color: var(--gray) !important;
}

.filteredDataContainer {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.filteredData {
  list-style-type: none;
  box-shadow: var(--boxShadow);
  background-color: var(--white);
}

.filteredData li {
  padding: 0.5rem 0.1rem 0.5rem 1rem;
  cursor: pointer;
}

.filteredData li:hover {
  background-color: var(--gray);
}
