.container {
  display: flex;
  margin: 1rem 0;
}

.viewMore {
  text-decoration: none;
  background-color: var(--orange);
  color: var(--white);
  padding: 0.4rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.viewMore:hover {
  background-color: var(--darkOrange);
}
