.container {
  background-color: var(--darkBlue);
  height: 100%;
  width: var(--sidebarWidth);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container a {
  text-decoration: none;
}

.logo {
  height: var(--navbarHeigth);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--white);
}

@media only screen and (max-width: 480px) {
  .container {
    display: none;
  }
}
