.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a4a7aa;
  padding: 0.5rem 0;
}

.container:hover {
  color: #fff;
  background-color: #4e487c;
  cursor: pointer;
}
