.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--darkGray);
  padding: 0.5rem 0;
  position: relative;
}

.container:hover {
  color: var(--white);
  background-color: var(--darkBlueSelected);
  cursor: pointer;
}

.currentPage {
  color: var(--white);
  background-color: var(--darkBlueSelected);
}

.currentPage::after {
  content: "";
  display: block;
  pointer-events: none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  background-color: var(--white);
  top: 50%;
  right: -1rem;
  margin-top: -1rem;
  transform: rotate(45deg);
}
