.navigationContainer {
  display: flex;
  margin-bottom: 1rem;
}

.navigationContainer button {
  margin-right: 1rem;
}

@media only screen and (max-width: 480px) {
  .navigationContainer {
    flex-direction: column;
  }

  .navigationContainer button {
    margin-bottom: 1rem;
  }
}
