.container {
  width: fit-content;
  background-color: var(--lightGray);
  padding: 1rem;
  margin: 0 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container[id]:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.selected {
  background-color: var(--lightBlue);
  color: var(--white);
}

.selected[id]:hover {
  background-color: var(--darkBlue);
}
