.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.currentDayContainer {
  display: flex;
  align-items: center;
  width: fit-content;
}

.currentDayContainer > p:first-of-type {
  font-weight: bold;
  margin-right: 1rem;
}

.currentDayContainer {
  font-size: x-large;
}

.actionButtons {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.actionButtons button {
  background-color: var(--white);
  box-shadow: var(--boxShadow);
  color: var(--lightBlue);
  border: none;
  border: var(--gray) 1px solid;
  padding: 1rem;
}

.actionButtons button:hover {
  cursor: pointer;
  background-color: var(--gray);
}
