.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.currentDayContainer {
  display: flex;
  align-items: center;
  width: fit-content;
}

.currentDayContainer > p:first-of-type {
  font-weight: bold;
  margin-right: 1rem;
}

.currentDayContainer {
  font-size: x-large;
}

.actionButtons {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
