.containers {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--boxShadow);
  padding: 2rem;
  margin: 1rem;
}

.leftContainer {
  width: 90%;
}

.rightContainer {
  width: 10%;
}

.activityMetadataContainer,
.activityProjectDataContainer {
  display: flex;
}

.activityMetadataContainer p,
.activityProjectDataContainer p {
  margin-right: 0.5rem;
}

.activityDescriptionContainer {
  margin-top: 1rem;
}

.rejectJustificationText {
  color: var(--red);
}

.actionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  justify-content: space-around;
}

.buttons button:first-child {
  margin-right: 1rem;
}

.money {
  color: var(--lightBlue);
}

@media only screen and (max-width: 480px) {
  .containers {
    flex-direction: column;
    align-items: center;
  }

  .activityMetadataContainer,
  .activityProjectDataContainer {
    flex-direction: column;
  }
}
